@mixin button-style {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
  