
$font-family: 'Ubuntu', sans-serif;
$primary-color: #000;
$lightgrey-color:#F9F9FB;
$background-color: #DDDDDD;
$white-color: #fff;
$spacing: 1rem;
$grey-color:#AAAAAA;
$green: #65C100;
$red: #D0011B;
