@import '_partials/variables';
@import '_partials/mixins';

// **********************NORMALISE ***************************


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $font-family;
    background-color: $white-color;
    color: $primary-color;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    outline: none;
}

input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #DDDDDD;
    outline: none;

    &::placeholder {
        font-size: 14px;
    }
}



.container {
    padding: 0 1rem;
}



// **********************NAVBAR***************************

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    background: $white-color;
    z-index: 10;
    fill: #FFF;
    filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.15));
    height: 6rem;
    display: grid;
    align-items: center;


    .desktop {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        width: 100%;
        align-items: center;

        .navbar-logo {
            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;


            .navbar-name {

                span {
                    color: $grey-color;
                    font-size: 12px;
                }
            }

        }

        .navbar-search {
            padding: 0 2rem;


            .autocomplete {
                position: relative;

                .inputbox {
                    border: 1px solid #DDDDDD;
                    display: flex;
                    align-items: center;
                    background: #F9F9FB;

                    input {
                        flex: .9;
                        border: none;
                        outline: none;
                    }

                    button {
                        flex: .1;
                        border-left: 1.5px solid #DDDDDD;
                        background: transparent;


                    }

                }

                .autocomplete-results {
                    z-index: 20;
                    position: absolute;
                    top: 100%;
                    width: 100%;
                    background: $white-color;
                    border: 1px solid #DDDDDD;
                    height: 200px;
                    overflow-y: auto;
                    padding: 1rem;
                    cursor: pointer;
                    display: none;
                    flex-direction: column;
                    gap: 1rem;

                    .filtereditem {
                        padding: .2rem 0;

                        .dark {
                            color: $primary-color;

                        }

                        .light {
                            color: #999999;
                        }

                        &:hover {
                            background: rgb(230, 246, 230);
                        }
                    }

                }


            }
        }

        .navbar-userinfo {
            justify-self: flex-end;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            cursor: pointer;

            .searchicon {
                display: none;
            }

        }


    }

    .mobile {
        display: none;
    }

    .mobile-autocomplete-results {
        z-index: 20;
        position: absolute;
        top: 100%;
        width: 100%;
        background: $white-color;
        border: 1px solid #DDDDDD;
        height: 200px;
        overflow: hidden;
        padding: 1rem;
        cursor: pointer;
        display: none;
        flex-direction: column;
        gap: 1rem;

        .mobilefiltereditem {
            padding: .2rem 0;
            font-size: 12px;

            .dark {
                color: $primary-color;

            }

            .light {
                color: #999999;
            }

            &:hover {
                background: rgb(230, 246, 230);
            }
        }

    }


    @media (max-width: 786px) {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        .desktop {
            display: none;
        }

        .mobile {
            display: grid;
            grid-template-columns: 1fr 2fr;

            .navbar-mobile-menu {
                display: flex;
                align-items: center;
                gap: 2rem;
            }

            .navbar-mobile-search {
                display: none;
                align-items: center;
                gap: 2rem;
                width: 100%;

                .mobile-autocomplete {
                    display: flex;
                    align-items: center;
                    position: relative;
                    width: 100%;


                    .inputbox {
                        width: 100%;
                        border: 1px solid #DDDDDD;
                        display: flex;
                        align-items: center;
                        background: #F9F9FB;

                        input {
                            flex: .9;
                            width: 100%;
                            border: none;
                            outline: none;
                        }

                        button {
                            flex: .1;
                            padding: 0 .5rem;
                            border: none;
                            background: transparent;


                        }

                    }


                }
            }

           

            .navbar-mobile-userinfo {
                display: flex;
                align-items: center;
                justify-self: flex-end;
                justify-content: space-around;

                .searchicon {
                    display: block;
                }
            }


            &.fullscreen {
                grid-template-columns: 1fr;

            }
        }
    }


    @media (max-width: 280px) {

        .mobile {
            .navbar-mobile-menu {
                .logo {
                    width: 30px;

                }
            }

            .navbar-mobile-userinfo {
                .avatar {
                    width: 50px;
                }
            }
        }
    }
}


// **********************SIDEBAR***************************
.sidebar {
    position: fixed;
    top: 0;
    left: -85%;
    width: 85%;
    z-index: 50;
    overflow: hidden;
    fill: #FFF;
    filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.15));
    background: $white-color;
    transition: left 0.3s;

    .sidebar-body {
        height: 100vh;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }


        .sidebar-top {

            .sidebar-back-button-container {
                button {
                    padding: 2rem 0;
                    background: transparent;
                    border: none;
                    outline: none;
                }
            }

            .sidebar-logo {
                display: flex;
                align-items: center;
                gap: 1rem;

                .sidebar-name {
                    span {
                        color: $grey-color;
                        font-size: 12px;
                    }
                }

            }
        }


        .sidebar-content-container {

            .sidebar-content {
                width: 100%;

                .sidebar-item {
                    padding: 1rem;
                    border-bottom: 1px solid #EEEEEE;

                    p {
                        font-weight: 700;
                        margin-bottom: 1rem;
                    }

                    .active {
                        color: $green;
                    }

                    ul {
                        li {
                            display: flex;
                            justify-content: space-between;
                            font-size: 14px;
                            padding: .3rem .2rem .5rem;
                            cursor: pointer;

                            .itemnumber {
                                color: $grey-color;
                                font-size: 12px;
                            }

                            .green {
                                background: $green;
                                padding: 2px 5px;
                                color: $white-color;
                                border-radius: 45%;
                            }


                            &:hover {
                                background: rgb(230, 246, 230);
                            }
                        }

                    }


                }

            }
        }

    }




    @media (min-width:820px) {
        display: none;

    }

}

// **********************Content***************************

.content {
    width: 100%;
    overflow: hidden;

    .content-sidebar-container {
        position: fixed;
        top: 6rem;
        bottom: 0;
        width: 270px;
        overflow: scroll;
        fill: #FFF;
        filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.15));
        background: $white-color;


        &::-webkit-scrollbar {
            display: none;
        }

        .content-sidebar {
            width: 100%;

            .sidebar-item {
                padding: 1rem;
                border-bottom: 1px solid #EEEEEE;

                p {
                    font-weight: 700;
                    margin-bottom: 1rem;
                }

                .active {
                    color: $green;
                }

                ul {
                    li {
                        display: flex;
                        justify-content: space-between;
                        font-size: 14px;
                        padding: .3rem .2rem .5rem;
                        cursor: pointer;

                        .itemnumber {
                            color: $grey-color;
                            font-size: 12px;
                        }

                        .green {
                            background: $green;
                            padding: 2px 5px;
                            color: $white-color;
                            border-radius: 45%;
                        }

                        &:hover {
                            background: rgb(230, 246, 230);


                        }

                    }
                }
            }

        }
    }


    .books {
        margin-top: 6rem;
        margin-left: 270px;

        h2 {
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 3px;
            text-transform: uppercase;
            position: relative;


            &::after {
                content: "";
                height: .5px;
                background: #EEEEEE;
                fill: #EEE;
                position: absolute;
                bottom: -2px;
                right: 0;
                width: 100%;
            }
        }

        // featured book 
        .featured {
            margin-bottom: 2rem;

            .title {
                padding: 1rem 0 1rem 44px;
            }

            .carousel-container {
                padding: .5rem 0;

                .carousel {
                    padding: 2rem 0;
                   


                    .flickity-button {
                        height: 100%;
                        border-radius: unset;

                        &:hover {
                            background: hsla(0, 0%, 100%, 0.75);
                            outline: none;
                            border: none;
                        }


                        svg {
                            width: 15px;
                        }

                    }


                    .flickity-prev-next-button.previous {
                        left: 0;
                    }

                    .flickity-prev-next-button.next {
                        right: 0;

                    }

                    .flickity-page-dots .dot.is-selected {
                        background: $green;
                    }

                    .carousel-cell {
                        position: relative;
                        width: 210px;
                        height: 320px;
                        margin-right: 20px;
                        border-radius: 5px;
                        counter-increment: carousel-cell;
                       
                       
                        .featured-image {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            


                            img {
                                max-width: 100%;
                                height: 100%;
                            }

                            .menuicon {
                                display: none;
                                background: transparent;
                                border: none;
                                outline: none;
                                position: absolute;
                                top: 10px;
                                right: 10px;
                            }


                            .overlay {
                                display: none;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                height: 100%;
                                width: 100%;
                                transition: .5s ease;
                                cursor: pointer;
                                color: $white-color;
                                background: linear-gradient(180deg, rgba(0, 0, 0, 0.61) 0%, #000 79.7%);


                                .book-info {
                                    margin-top: 6rem;
                                    margin-bottom: 1rem;
                                    display: flex;
                                    flex-direction: column;
                                    padding: 0 1rem;
                                    gap: 1.5rem;
                                    font-size: 12px;

                                    .red {
                                        color: $red;
                                    }

                                    .green {
                                        color: $green;
                                    }

                                    .book-name {
                                        strong {
                                            font-size: 15px;
                                        }

                                        p {
                                            font-size: 12px;
                                            padding: .2rem 0;
                                        }

                                    }

                                    .book-type {
                                        font-size: 12px;
                                        font-weight: 700;
                                        line-height: 15px;
                                        padding-right: 1rem;

                                        span {
                                            font-weight: 300;
                                            line-height: 15px;

                                        }
                                    }

                                    .book-detail {
                                        display: flex;
                                        align-items: center;
                                        gap: .7rem;

                                        p {
                                            font-size: 12px;
                                            line-height: 15px;

                                            span {
                                                font-weight: 300;
                                                line-height: 15px;
    
                                            }
                                        }

                                        .divider {
                                            width: 1px;
                                            height: 30px;
                                            background: $grey-color;
                                            opacity: .4;
                                        }

                                        .book-actions {
                                            display: flex;
                                            align-items: center;
                                            gap: .5rem;

                                        }

                                    }
                                }


                            }


                            &:hover .overlay {
                                cursor: pointer;
                                display: block;
                            }
                        }


                        &:hover .overlay {
                            display: inline-block;
                        }
                    }
                }

            }


        }

        .books-section {
            padding: 1rem 0 1rem 44px;

            h2 {
                padding: 1rem 0;

            }

            .books-section-container {
                margin-bottom: 2rem;

                .books-section-content {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(min(200px, 250px), 300px));
                    grid-auto-rows: 150px;
                    gap: 1rem;
                    padding: 2rem 0;

                    .book-item {
                        display: grid;
                        grid-template-columns: 1.5fr 3fr;
                        gap: .5rem;



                        .book-image {
                            width: 100%;
                            height: 100%;

                            img {
                                max-width: 100%;
                                height: 100%;
                            }

                        }

                        .book-info {
                            flex: .6;
                            display: flex;
                            flex-direction: column;
                            padding-top: 1rem;
                            gap: .5rem;

                            .red {
                                color: $red;
                                font-size: 12px;
                            }

                            .green {
                                color: $green;
                                font-size: 12px;
                            }

                            .book-name {
                                strong{
                                    font-size: 14px;
                                }
                                p {
                                    font-size: 12px;
                                    padding: .2rem 0;
                                    line-height: 15px;
                                }

                            }

                            .book-detail {
                                display: flex;
                                align-items: center;
                                gap: .7rem;

                                p {
                                    font-size: 12px;
                                }

                                .divider {
                                    width: 2px;
                                    height: 30px;
                                    background: $background-color;
                                }

                                .book-actions {
                                    display: flex;
                                    align-items: center;
                                    gap: .5rem;

                                }

                            }
                        }

                        &:hover {
                            background-color: $white-color;
                            cursor: pointer;
                            fill: #FFF;
                            filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.15));
                        }

                    }

                }
            }


        }

    }

    @media (max-width:768px) {
        .content-sidebar-container {
            display: none;
        }

        .books {
            margin-left: 0;
            width: 100%;
            padding: 0 1rem;

            .featured {
                .title {
                    display: none;
                }

                .carousel-container {

                    .carousel {

                        .carousel-cell {

                            .featured-image {

                                .menuicon {
                                    display: block;
                                }

                                &:hover .overlay {
                                    display: none;
                                }

                                .overlay {
                                    &.show {
                                        display: inline-block;

                                    }
                                }
                            }
                        }
                    }
                }

            }


        }

    }
}


.sidebar-overlay {
    background: rgba(78, 78, 78, 0.2);
    position: fixed;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 30;
    opacity: 0;
    transition: opacity 0.3s, width 0s 0.3s;
    cursor: pointer;

    @media (min-width: 768px) {
        display: unset;

    }
}