* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #fff;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
}

input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #DDDDDD;
  outline: none;
}
input::placeholder {
  font-size: 14px;
}

.container {
  padding: 0 1rem;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  background: #fff;
  z-index: 10;
  fill: #FFF;
  filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.15));
  height: 6rem;
  display: grid;
  align-items: center;
}
.navbar .desktop {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  align-items: center;
}
.navbar .desktop .navbar-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.navbar .desktop .navbar-logo .navbar-name span {
  color: #AAAAAA;
  font-size: 12px;
}
.navbar .desktop .navbar-search {
  padding: 0 2rem;
}
.navbar .desktop .navbar-search .autocomplete {
  position: relative;
}
.navbar .desktop .navbar-search .autocomplete .inputbox {
  border: 1px solid #DDDDDD;
  display: flex;
  align-items: center;
  background: #F9F9FB;
}
.navbar .desktop .navbar-search .autocomplete .inputbox input {
  flex: 0.9;
  border: none;
  outline: none;
}
.navbar .desktop .navbar-search .autocomplete .inputbox button {
  flex: 0.1;
  border-left: 1.5px solid #DDDDDD;
  background: transparent;
}
.navbar .desktop .navbar-search .autocomplete .autocomplete-results {
  z-index: 20;
  position: absolute;
  top: 100%;
  width: 100%;
  background: #fff;
  border: 1px solid #DDDDDD;
  height: 200px;
  overflow-y: auto;
  padding: 1rem;
  cursor: pointer;
  display: none;
  flex-direction: column;
  gap: 1rem;
}
.navbar .desktop .navbar-search .autocomplete .autocomplete-results .filtereditem {
  padding: 0.2rem 0;
}
.navbar .desktop .navbar-search .autocomplete .autocomplete-results .filtereditem .dark {
  color: #000;
}
.navbar .desktop .navbar-search .autocomplete .autocomplete-results .filtereditem .light {
  color: #999999;
}
.navbar .desktop .navbar-search .autocomplete .autocomplete-results .filtereditem:hover {
  background: rgb(230, 246, 230);
}
.navbar .desktop .navbar-userinfo {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
}
.navbar .desktop .navbar-userinfo .searchicon {
  display: none;
}
.navbar .mobile {
  display: none;
}
.navbar .mobile-autocomplete-results {
  z-index: 20;
  position: absolute;
  top: 100%;
  width: 100%;
  background: #fff;
  border: 1px solid #DDDDDD;
  height: 200px;
  overflow: hidden;
  padding: 1rem;
  cursor: pointer;
  display: none;
  flex-direction: column;
  gap: 1rem;
}
.navbar .mobile-autocomplete-results .mobilefiltereditem {
  padding: 0.2rem 0;
  font-size: 12px;
}
.navbar .mobile-autocomplete-results .mobilefiltereditem .dark {
  color: #000;
}
.navbar .mobile-autocomplete-results .mobilefiltereditem .light {
  color: #999999;
}
.navbar .mobile-autocomplete-results .mobilefiltereditem:hover {
  background: rgb(230, 246, 230);
}
@media (max-width: 786px) {
  .navbar {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .navbar .desktop {
    display: none;
  }
  .navbar .mobile {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .navbar .mobile .navbar-mobile-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .navbar .mobile .navbar-mobile-search {
    display: none;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }
  .navbar .mobile .navbar-mobile-search .mobile-autocomplete {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }
  .navbar .mobile .navbar-mobile-search .mobile-autocomplete .inputbox {
    width: 100%;
    border: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    background: #F9F9FB;
  }
  .navbar .mobile .navbar-mobile-search .mobile-autocomplete .inputbox input {
    flex: 0.9;
    width: 100%;
    border: none;
    outline: none;
  }
  .navbar .mobile .navbar-mobile-search .mobile-autocomplete .inputbox button {
    flex: 0.1;
    padding: 0 0.5rem;
    border: none;
    background: transparent;
  }
  .navbar .mobile .navbar-mobile-userinfo {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    justify-content: space-around;
  }
  .navbar .mobile .navbar-mobile-userinfo .searchicon {
    display: block;
  }
  .navbar .mobile.fullscreen {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 280px) {
  .navbar .mobile .navbar-mobile-menu .logo {
    width: 30px;
  }
  .navbar .mobile .navbar-mobile-userinfo .avatar {
    width: 50px;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: -85%;
  width: 85%;
  z-index: 50;
  overflow: hidden;
  fill: #FFF;
  filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.15));
  background: #fff;
  transition: left 0.3s;
}
.sidebar .sidebar-body {
  height: 100vh;
  overflow: scroll;
}
.sidebar .sidebar-body::-webkit-scrollbar {
  display: none;
}
.sidebar .sidebar-body .sidebar-top .sidebar-back-button-container button {
  padding: 2rem 0;
  background: transparent;
  border: none;
  outline: none;
}
.sidebar .sidebar-body .sidebar-top .sidebar-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sidebar .sidebar-body .sidebar-top .sidebar-logo .sidebar-name span {
  color: #AAAAAA;
  font-size: 12px;
}
.sidebar .sidebar-body .sidebar-content-container .sidebar-content {
  width: 100%;
}
.sidebar .sidebar-body .sidebar-content-container .sidebar-content .sidebar-item {
  padding: 1rem;
  border-bottom: 1px solid #EEEEEE;
}
.sidebar .sidebar-body .sidebar-content-container .sidebar-content .sidebar-item p {
  font-weight: 700;
  margin-bottom: 1rem;
}
.sidebar .sidebar-body .sidebar-content-container .sidebar-content .sidebar-item .active {
  color: #65C100;
}
.sidebar .sidebar-body .sidebar-content-container .sidebar-content .sidebar-item ul li {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 0.3rem 0.2rem 0.5rem;
  cursor: pointer;
}
.sidebar .sidebar-body .sidebar-content-container .sidebar-content .sidebar-item ul li .itemnumber {
  color: #AAAAAA;
  font-size: 12px;
}
.sidebar .sidebar-body .sidebar-content-container .sidebar-content .sidebar-item ul li .green {
  background: #65C100;
  padding: 2px 5px;
  color: #fff;
  border-radius: 45%;
}
.sidebar .sidebar-body .sidebar-content-container .sidebar-content .sidebar-item ul li:hover {
  background: rgb(230, 246, 230);
}
@media (min-width: 820px) {
  .sidebar {
    display: none;
  }
}

.content {
  width: 100%;
  overflow: hidden;
}
.content .content-sidebar-container {
  position: fixed;
  top: 6rem;
  bottom: 0;
  width: 270px;
  overflow: scroll;
  fill: #FFF;
  filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.15));
  background: #fff;
}
.content .content-sidebar-container::-webkit-scrollbar {
  display: none;
}
.content .content-sidebar-container .content-sidebar {
  width: 100%;
}
.content .content-sidebar-container .content-sidebar .sidebar-item {
  padding: 1rem;
  border-bottom: 1px solid #EEEEEE;
}
.content .content-sidebar-container .content-sidebar .sidebar-item p {
  font-weight: 700;
  margin-bottom: 1rem;
}
.content .content-sidebar-container .content-sidebar .sidebar-item .active {
  color: #65C100;
}
.content .content-sidebar-container .content-sidebar .sidebar-item ul li {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 0.3rem 0.2rem 0.5rem;
  cursor: pointer;
}
.content .content-sidebar-container .content-sidebar .sidebar-item ul li .itemnumber {
  color: #AAAAAA;
  font-size: 12px;
}
.content .content-sidebar-container .content-sidebar .sidebar-item ul li .green {
  background: #65C100;
  padding: 2px 5px;
  color: #fff;
  border-radius: 45%;
}
.content .content-sidebar-container .content-sidebar .sidebar-item ul li:hover {
  background: rgb(230, 246, 230);
}
.content .books {
  margin-top: 6rem;
  margin-left: 270px;
}
.content .books h2 {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
}
.content .books h2::after {
  content: "";
  height: 0.5px;
  background: #EEEEEE;
  fill: #EEE;
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 100%;
}
.content .books .featured {
  margin-bottom: 2rem;
}
.content .books .featured .title {
  padding: 1rem 0 1rem 44px;
}
.content .books .featured .carousel-container {
  padding: 0.5rem 0;
}
.content .books .featured .carousel-container .carousel {
  padding: 2rem 0;
}
.content .books .featured .carousel-container .carousel .flickity-button {
  height: 100%;
  border-radius: unset;
}
.content .books .featured .carousel-container .carousel .flickity-button:hover {
  background: hsla(0, 0%, 100%, 0.75);
  outline: none;
  border: none;
}
.content .books .featured .carousel-container .carousel .flickity-button svg {
  width: 15px;
}
.content .books .featured .carousel-container .carousel .flickity-prev-next-button.previous {
  left: 0;
}
.content .books .featured .carousel-container .carousel .flickity-prev-next-button.next {
  right: 0;
}
.content .books .featured .carousel-container .carousel .flickity-page-dots .dot.is-selected {
  background: #65C100;
}
.content .books .featured .carousel-container .carousel .carousel-cell {
  position: relative;
  width: 210px;
  height: 320px;
  margin-right: 20px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}
.content .books .featured .carousel-container .carousel .carousel-cell .featured-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.content .books .featured .carousel-container .carousel .carousel-cell .featured-image img {
  max-width: 100%;
  height: 100%;
}
.content .books .featured .carousel-container .carousel .carousel-cell .featured-image .menuicon {
  display: none;
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
.content .books .featured .carousel-container .carousel .carousel-cell .featured-image .overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.61) 0%, #000 79.7%);
}
.content .books .featured .carousel-container .carousel .carousel-cell .featured-image .overlay .book-info {
  margin-top: 6rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 1.5rem;
  font-size: 12px;
}
.content .books .featured .carousel-container .carousel .carousel-cell .featured-image .overlay .book-info .red {
  color: #D0011B;
}
.content .books .featured .carousel-container .carousel .carousel-cell .featured-image .overlay .book-info .green {
  color: #65C100;
}
.content .books .featured .carousel-container .carousel .carousel-cell .featured-image .overlay .book-info .book-name strong {
  font-size: 15px;
}
.content .books .featured .carousel-container .carousel .carousel-cell .featured-image .overlay .book-info .book-name p {
  font-size: 12px;
  padding: 0.2rem 0;
}
.content .books .featured .carousel-container .carousel .carousel-cell .featured-image .overlay .book-info .book-type {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  padding-right: 1rem;
}
.content .books .featured .carousel-container .carousel .carousel-cell .featured-image .overlay .book-info .book-type span {
  font-weight: 300;
  line-height: 15px;
}
.content .books .featured .carousel-container .carousel .carousel-cell .featured-image .overlay .book-info .book-detail {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.content .books .featured .carousel-container .carousel .carousel-cell .featured-image .overlay .book-info .book-detail p {
  font-size: 12px;
  line-height: 15px;
}
.content .books .featured .carousel-container .carousel .carousel-cell .featured-image .overlay .book-info .book-detail p span {
  font-weight: 300;
  line-height: 15px;
}
.content .books .featured .carousel-container .carousel .carousel-cell .featured-image .overlay .book-info .book-detail .divider {
  width: 1px;
  height: 30px;
  background: #AAAAAA;
  opacity: 0.4;
}
.content .books .featured .carousel-container .carousel .carousel-cell .featured-image .overlay .book-info .book-detail .book-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.content .books .featured .carousel-container .carousel .carousel-cell .featured-image:hover .overlay {
  cursor: pointer;
  display: block;
}
.content .books .featured .carousel-container .carousel .carousel-cell:hover .overlay {
  display: inline-block;
}
.content .books .books-section {
  padding: 1rem 0 1rem 44px;
}
.content .books .books-section h2 {
  padding: 1rem 0;
}
.content .books .books-section .books-section-container {
  margin-bottom: 2rem;
}
.content .books .books-section .books-section-container .books-section-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-auto-rows: 150px;
  gap: 1rem;
  padding: 2rem 0;
}
.content .books .books-section .books-section-container .books-section-content .book-item {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  gap: 0.5rem;
}
.content .books .books-section .books-section-container .books-section-content .book-item .book-image {
  width: 100%;
  height: 100%;
}
.content .books .books-section .books-section-container .books-section-content .book-item .book-image img {
  max-width: 100%;
  height: 100%;
}
.content .books .books-section .books-section-container .books-section-content .book-item .book-info {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 0.5rem;
}
.content .books .books-section .books-section-container .books-section-content .book-item .book-info .red {
  color: #D0011B;
  font-size: 12px;
}
.content .books .books-section .books-section-container .books-section-content .book-item .book-info .green {
  color: #65C100;
  font-size: 12px;
}
.content .books .books-section .books-section-container .books-section-content .book-item .book-info .book-name strong {
  font-size: 14px;
}
.content .books .books-section .books-section-container .books-section-content .book-item .book-info .book-name p {
  font-size: 12px;
  padding: 0.2rem 0;
  line-height: 15px;
}
.content .books .books-section .books-section-container .books-section-content .book-item .book-info .book-detail {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.content .books .books-section .books-section-container .books-section-content .book-item .book-info .book-detail p {
  font-size: 12px;
}
.content .books .books-section .books-section-container .books-section-content .book-item .book-info .book-detail .divider {
  width: 2px;
  height: 30px;
  background: #DDDDDD;
}
.content .books .books-section .books-section-container .books-section-content .book-item .book-info .book-detail .book-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.content .books .books-section .books-section-container .books-section-content .book-item:hover {
  background-color: #fff;
  cursor: pointer;
  fill: #FFF;
  filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.15));
}
@media (max-width: 768px) {
  .content .content-sidebar-container {
    display: none;
  }
  .content .books {
    margin-left: 0;
    width: 100%;
    padding: 0 1rem;
  }
  .content .books .featured .title {
    display: none;
  }
  .content .books .featured .carousel-container .carousel .carousel-cell .featured-image .menuicon {
    display: block;
  }
  .content .books .featured .carousel-container .carousel .carousel-cell .featured-image:hover .overlay {
    display: none;
  }
  .content .books .featured .carousel-container .carousel .carousel-cell .featured-image .overlay.show {
    display: inline-block;
  }
}

.sidebar-overlay {
  background: rgba(78, 78, 78, 0.2);
  position: fixed;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 30;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s;
  cursor: pointer;
}
@media (min-width: 768px) {
  .sidebar-overlay {
    display: unset;
  }
}

/*# sourceMappingURL=main.css.map */
